In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('ad_events.csv')
df2 = pd.read_csv('ad_details.csv')
df3 = pd.read_csv('customer_profiles.csv')

In [3]:
df2.rename(columns={'ad id': 'event_info'}, inplace=True)

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   reward           10 non-null     int64
 1   channels         10 non-null     object
 2   required_amount  10 non-null     int64
 3   duration (days)  10 non-null     int64
 4   offer_type       10 non-null     object
 5   event_info       10 non-null     object
dtypes: int64(3), object(3)
memory usage: 608.0+ bytes

In [5]:
df2.head()

,reward,channels,required_amount,duration (days),offer_type,event_info
0,10,"['email', 'mobile', 'social']",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"['web', 'email', 'mobile', 'social']",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"['web', 'email', 'mobile']",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"['web', 'email', 'mobile']",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"['web', 'email']",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

In [6]:
df2['event_info'] = df2['event_info'].apply(lambda x: "{'offer id': '" + x + "'}")

In [7]:
df2.head()

,reward,channels,required_amount,duration (days),offer_type,event_info
0,10,"['email', 'mobile', 'social']",10,7,bogo,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
1,10,"['web', 'email', 'mobile', 'social']",10,5,bogo,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
2,0,"['web', 'email', 'mobile']",0,4,informational,{'offer id': '3f207df678b143eea3cee63160fa8bed'}
3,5,"['web', 'email', 'mobile']",5,7,bogo,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
4,5,"['web', 'email']",20,10,discount,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}

In [8]:
df1.head()

,customer,event,event_info,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0

In [9]:
df4 = pd.merge(df1, df2, on="event_info")

In [11]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14825 entries, 0 to 14824
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             14825 non-null  object
 1   age                                14825 non-null  int64
 2   id                                 14825 non-null  object
 3   became_member_on (year month day)  14825 non-null  int64
 4   income                             14825 non-null  float64
 5   ever_married                       14825 non-null  object
 6   kids                               14825 non-null  int64
 7   home_state                         14825 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 926.7+ KB

In [12]:
df4.head()

,customer,event,event_info,time,reward,channels,required_amount,duration (days),offer_type
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,5,"['web', 'email', 'mobile']",5,7,bogo
1,ebe7ef46ea6f4963a7dd49f501b26779,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,5,"['web', 'email', 'mobile']",5,7,bogo
2,f082d80f0aac47a99173ba8ef8fc1909,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,5,"['web', 'email', 'mobile']",5,7,bogo
3,c0d210398dee4a0895b24444a5fcd1d2,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,5,"['web', 'email', 'mobile']",5,7,bogo
4,57dd18ec5ddc46828afb81ec5977bef2,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,5,"['web', 'email', 'mobile']",5,7,bogo

In [13]:
df3.head()

,gender,age,id,became_member_on (year month day),income,ever_married,kids,home_state
0,F,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0,No,3,North Dakota
1,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,Yes,0,Florida
2,M,68,e2127556f4f64592b11af22de27a7932,20180426,70000.0,Yes,3,Florida
3,M,65,389bc3fa690240e798340f5a15918d5c,20180209,53000.0,Yes,5,Missouri
4,M,58,2eeac8d8feae4a8cad5a6af0499a211d,20171111,51000.0,Yes,5,South Dakota

In [17]:
df4.rename(columns={"customer": "id"}, inplace=True)

In [18]:
df = pd.merge(df3, df4, on="id")

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116361 entries, 0 to 116360
Data columns (total 16 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   gender                             116361 non-null  object
 1   age                                116361 non-null  int64
 2   id                                 116361 non-null  object
 3   became_member_on (year month day)  116361 non-null  int64
 4   income                             116361 non-null  float64
 5   ever_married                       116361 non-null  object
 6   kids                               116361 non-null  int64
 7   home_state                         116361 non-null  object
 8   event                              116361 non-null  object
 9   event_info                         116361 non-null  object
 10  time                               116361 non-null  int64
 11  reward                             116361 non-null  int64
 12  channels                           116361 non-null  object
 13  required_amount                    116361 non-null  int64
 14  duration (days)                    116361 non-null  int64
 15  offer_type                         116361 non-null  object
dtypes: float64(1), int64(7), object(8)
memory usage: 15.1+ MB

In [20]:
df.head()

,gender,age,id,became_member_on (year month day),income,ever_married,kids,home_state,event,event_info,time,reward,channels,required_amount,duration (days),offer_type
0,F,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0,No,3,North Dakota,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},408,5,"['web', 'email', 'mobile']",5,7,bogo
1,F,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0,No,3,North Dakota,offer received,{'offer id': '3f207df678b143eea3cee63160fa8bed'},504,0,"['web', 'email', 'mobile']",0,4,informational
2,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,Yes,0,Florida,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,5,"['web', 'email', 'mobile']",5,7,bogo
3,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,Yes,0,Florida,offer viewed,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},6,5,"['web', 'email', 'mobile']",5,7,bogo
4,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,Yes,0,Florida,offer received,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},504,5,"['web', 'email', 'mobile', 'social']",5,5,bogo